/* reset */
body {
  margin: 0;
  padding: 0;
}
nav ul {
  list-style: none;
  padding-left: 0;
}
.accent {
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(116, 116, 116);
  border-radius: 5px;
}
.screen-info {
  display: flex;
  justify-content: center;
}
.screen-info:after {
  content: " - XS";
}
.container-fluid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 1rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 1rem;
  max-width: 980px;
  margin: auto auto;
}
.container > *,
.container-fluid > * {
  grid-column: col-start / span 12;
  padding: 1rem;
}
/* ------------------ MEDIAQUERIES ---------------------- */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
@media (min-width: 576px) { 
  .screen-info:after {
    content: " - SM";
  }

  .content,
  .footer {
    grid-column: col-start 4 / span 9;
  }
  
  .sidebar {
    grid-column: col-start / span 3;
    grid-row: 4;
  }

  .sidebar-news {
    grid-column: col-start / span 3;
    grid-row: 5;
  }
  
  .topbar-nav ul,
  .sidebar-nav ul {
    display: flex;
    justify-content: space-between;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .screen-info:after {
    content: " - MD";
  }

  .topbar-nav {
    grid-column: col-start / span 12;
  }

  .sidebar-nav {
    grid-column: col-start / span 2;
    grid-row: 3 / 5;
  }

  .sidebar-nav ul {
    flex-direction: column;
  }

  .content {
    grid-column: col-start 3 / span 8;
    grid-row: 3 / 5;
  }

  .sidebar {
    grid-column: col-start 11 / span 2;
    grid-row: 3;
  }

  .sidebar-news {
    grid-column: col-start 11 / span 2;
    grid-row: 4;
  }

  .footer {
    grid-column: col-start / span 12;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .screen-info:after {
    content: " - LG";
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .screen-info:after {
    content: " - XL";
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  .screen-info:after {
    content: " - XXL";
  }
}
