<nav class="topbar-nav accent">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/standard">Standard</a></li>
    <li><a href="/standard-two-sidebars">Two Sidebars</a></li>
    <li><a href="/bottom-footer">Sticky Footer</a></li>
  </ul>
</nav>